$xl: 1280px;
$lg: 1024px;
$md: 768px;

// colors
$gray8: #151a1e;
$gray7: #1f272d;
$gray6: #2C363F;
$gray5: #343d46;
$gray4: #4f5b66;
$gray3: #65737e;
$gray2: #a7adba;
$gray1: #c0c5ce;
$gray0: #fefefe;

$highlight1: #ff6f69;
$highlight2: #ffcc5c;
$highlight3: #00B7FF;
$highlight4: #771414;
$highlight5: #0072FF;
$highlight6: #96ead7;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:wght@300;400;700&display=swap');
